<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOJA NETBIIS</title>
    <link rel="stylesheet" href="../static/css/loja-juros.css">
    <script src=".././static/js/loja-juros.js" defer></script>
</head>
<body>
    <div class="container">
        <h1>LOJA NETBIIS</h1>
        <div class="form-group">
            <label for="valorProduto">Insira o valor do produto: </label>
            <input type="text" id="valorProduto" name="valorProduto" required>
        </div>
        <div id="resultado">
            <p>Pagamento a vista com 10% de desconto: R$<strong id="valorAVista"></strong></p>
            <p>Pagamento de 2x com juros 1%: R$<strong id="valorDuasVezes"></strong></p>
            <p>Pagamento de 3x com juros 1,3%: R$<strong id="valorTresVezes"></strong></p>
        </div>
        </p>
    </div>
</body>
</html>