<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cálculo de somatória</title>
    <link rel="stylesheet" href="../static/css/calcular-ate-n.css">
    <script src="../static/js/calcular-ate-n.js" defer></script>
</head>

<body>
    <div class="container">
        <h1 id="title">Cálculo de somatória</h1>
        <div class="container-fields">
            <div class="form-group">
                <label for="lastNum">Insira o valor final da somatória: </label>
                <input type="text" name="lastNum" id="lastNum">
            </div>
            <div class="form-group">
                <span id="resultado"></span>
            </div>
        </div>
    </div>
</body>

</html>