<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classificar conceito</title>
    <link rel="stylesheet" href="../static/css/classificar-conceito.css">
    <script src="../static/js/classificar-conceito.js" defer></script>
</head>
<body>
    <div class="container">
        <h2>Classificar conceito</h2>
        <label for="conceito">Insira o valor do conceito</label>
        <input type="text" name="conceito" id="conceito">
        <p id="container-resultado">  
            Você recebeu o conceito <span id="resultado"></span>
        </p>
    </div>
</body>
</html>