<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificar maioridade</title>
    <link rel="stylesheet" href="../static/css/verificar-maioridade.css">
    <script src="../static/js/verificar-maioridade.js" defer></script>
</head>
<body>
    <div class="container">
        <h2>Verificar de maioridade</h2>
        <label for="idade">Qual a sua idade? </label>
        <input type="text" name="idade" id="idade">
        <p>  
            Você é <span id="resultado"></span>
        </p>
    </div>
</body>
</html>