<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emitir comanda</title>
    <link rel="stylesheet" href="../static/css/emitir-comanda.css">
    <script src="../static/js/emitir-comanda.js" defer></script>
</head>
<body>
    <div class="container">
        <h2>Emitir comanda</h2>
        <label for="conta">Insira o valor da conta </label>
        <input type="text" name="conta" id="conta">
        <p id="container-resultado">  
            Valor final da compra: R$ <span id="resultado"></span>
        </p>
    </div>
</body>
</html>