<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classificar idade</title>
    <link rel="stylesheet" href="../static/css/classificar-idade.css">
    <script src="../static/js/classificar-idade.js" defer></script>
</head>
<body>
    <div class="container">
        <h2>Classificar idade</h2>
        <label for="idade">Qual a sua idade?</label>
        <input type="text" name="idade" id="idade">
        <p id="container-resultado">  
            Você é classificado como <span id="resultado"></span>
        </p>
    </div>
</body>
</html>