<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Os 4 operadores</title>
    <link rel="stylesheet" href="../static/css/calculadora.css">
    <script src="../static/js/calculadora.js" defer></script>
</head>

<body>
    <div class="container">
        <h1 id="title">Calculadora</h1>
        <div class="container-fields">
            <div class="form-group">
                <label for="value1">Insira o valor 1</label>
                <input type="text" name="value1" id="value1">
            </div>
            <div class="form-group">
                <label for="value2">Insira o valor 2</label>
                <input type="text" name="value2" id="value2">
            </div>
            <div class="form-group">
                <label for="resultado">Resultado</label>
                <input type="text" name="resultado" id="resultado">
            </div>
        </div>
        <div class="buttons">
            <button type="button" id="somar">Somar</button>
            <button type="button" id="subtrair">Subtrair</button>
            <button type="button" id="dividir">Dividir</button>
            <button type="button" id="multiplicar">Multiplicar</button>
        </div>
    </div>
</body>

</html>