<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avaliação do aluno</title>
    <link rel="stylesheet" href="../static/css/verificar-maioridade.css">
    <script src="../static/js/verificar-maioridade.js" defer></script>
</head>
<body>
    <div class="container">
        <h2>Verificação de notas</h2>
        <label for="nota">Qual a sua nota? </label>
        <input type="text" name="nota" id="nota">
        <p id="container-resultado">  
            Você foi <span id="resultado"></span>
        </p>
    </div>
</body>
</html>