<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo</title>
    <link rel="stylesheet" href="../static/css/boas-vindas.css">
    <script src="../static/js/boas-vindas.js" defer></script>
</head>
<body>

    <div class="welcome-container">
        <h1 id="titulo-pagina">Bem-vindo!</h1>
        <div class="form-group">
            <label for="color">Digite a cor de fundo desejada: </label>
            <input type="text" name="color" id="color">
        </div>
        <div class="form-group">
            <label for="titulo">Digite um título personalizado: </label>
            <input type="text" name="titulo" id="titulo">
        </div>
    </div>

</body>
</html>
