<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviado com Sucesso</title>
    <link rel="stylesheet" href="../static/css/formulario-tela-envio.css">
    <script src="../static/js/formulario-tela-envio.js" defer></script>
</head>
<body>

    <div class="success-container">
        <div id="dados-recebidos"></div>
        <h2>Enviado com Sucesso!</h2>
        <p>Seu formulário foi enviado com sucesso.</p>
        <a href="./atv05-formulario.html">Voltar ao Formulário</a>
    </div>

</body>
</html>
