<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bem-vindo</title>
  <link rel="stylesheet" href="../static/css/atv01-login.css">
  <script src="../static/js/tela-bem-vindo.js" defer></script>
</head>

<body>

  <div class="welcome-container hide">
    <h1>Bem-vindo!</h1>
    <p>Você fez login com sucesso.</p>
    <a href="atv01-tela-login.html" id="btn-logout">Sair</a>
  </div>
</body>

</html>