<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="../static/css/atv01-login.css">
  <script src="../static/js/tela-login.js" defer></script>
</head>

<body>

  <div class="login-container">
    <h2 id="login__message">Login</h2>
    <input type="text" id="user" placeholder="user" required>
    <input type="password" id="password" placeholder="password" required>
    <button id="btn-login">Entrar</button>
  </div>
</body>

</html>