* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

h1{
    margin-bottom: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 100px;
    border-radius: 30px;
}

.form-group{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#resultado{
    margin-top: 20px;
    width: 100%;
}

button{
    width: 40%;
}

