<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tipos de dados do Aluno</title>
</head>

<body>
    <script>
        let matricula = prompt("Digite a matrícula do aluno:");
        let nome = prompt("Digite o nome do aluno:");
        let idade = prompt("Digite a idade do aluno:");
        let endereco = prompt("Digite o endereço do aluno:");
        let nota = prompt("Digite a nota do aluno:");
        let sexo = prompt("Digite o sexo do aluno:");

        console.log("Tipo da matrícula: ", typeof matricula);
        console.log("Tipo do nome: ", typeof nome); 
        console.log("Tipo da idade: ", typeof idade);
        console.log("Tipo do endereço: ", typeof endereco);
        console.log("Tipo da nota: ", typeof nota);
        console.log("Tipo do sexo: ", typeof sexo);
    </script>
</body>

</html>